<app-header></app-header>
  <section class="section-md bg-default">
    <div class="container">
      <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-9 section-divided__main section-divided__main-left">
          <div class="section-sm">
            <div class="filter-shop-box">
              <p>Showing results</p>
              <div class="form-wrap">
                <!--Select 2-->
                
              </div>
            </div>
            <div class="row justify-content-sm-center row-70">
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../../assets/images/Kitchen Images/interior-of-luxury-wooden-kitchen-with-comfortable-2023-11-27-05-15-41-utc.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span class="featured">Featured</span></div>
                  </div>
                  <div class="product-caption">
                    
                    <h6 class="product-title"><a href="single-product.html">Interior of luxury wooden kitchen and white chairs</a></h6>
                    <p class="product-price">
                      <!-- <span>48</span> -->
                    </p><a class="button-black button button-icon button-icon-left" routerLink="/contactUs"><span class="icon icon-md linear-icon-cart"></span><span>Request Pricing</span></a>
                    <ul class="rating-list">
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../../assets/images/Kitchen Images/minimalist-interior-of-modern-living-room-3d-rende-2023-11-27-05-33-53-utc.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span class="new">New</span></div>
                  </div>
                  <div class="product-caption">
                    
                    <h6 class="product-title"><a href="single-product.html">Minimalist interior of modern living room 3d rendering</a></h6>
                    <p class="product-price">
                      <!-- <span>69</span> -->
                    </p><a class="button-black button button-icon button-icon-left" routerLink="/contactUs"><span class="icon icon-md linear-icon-cart"></span><span>Request Pricing</span></a>
                  </div>
                </div>
              </div>
              
              <!-- 2 row-->
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../../assets/images/Kitchen Images/modern-kitchen-interior-with-dinning-area-and-wind-2023-11-27-04-51-38-utc.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <!-- <ul class="product-categories">
                      <li><a href="#">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul> -->
                    <h6 class="product-title"><a href="single-product.html">Modern kitchen interior with dinning area and wind</a></h6>
                    <p class="product-price">
                      <!-- <span>87</span> -->
                    </p><a class="button-black button button-icon button-icon-left" routerLink="/contactUs"><span class="icon icon-md linear-icon-cart"></span><span>Request Pricing</span></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../../assets/images/Kitchen Images/modern-white-and-purple-kitchen-2023-11-27-05-20-09-utc.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <h6 class="product-title"><a href="single-product.html">Modern white and purple kitchen</a></h6>
                    <p class="product-price">
                      <!-- <span>16</span> -->
                    </p><a class="button-black button button-icon button-icon-left" routerLink="/contactUs"><span class="icon icon-md linear-icon-cart"></span><span>Request Pricing</span></a>
                  </div>
                </div>
              </div>
             
              <!-- 3 row-->
            
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../../assets/images/Kitchen Images/stylish-kitchen-with-elegant-wooden-counter-and-wh-2023-11-27-05-06-26-utc.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    
                    <h6 class="product-title"><a href="single-product.html">Stylish kitchen with elegant counter</a></h6>
                    <p class="product-price">
                      <!-- <span>40</span> -->
                    </p><a class="button-gray-light-outline button button-icon button-icon-left" routerLink="/contactUs"><span class="icon icon-md linear-icon-magic-wand"></span><span>Request Pricing</span></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../../assets/images/Kitchen Images/white-and-wooden-modern-kitchen-2023-11-27-05-36-03-utc.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <h6 class="product-title"><a href="single-product.html">White and wooden modern kitchen</a></h6>
                    <p class="product-price">
                      <!-- <span>43</span> -->
                    </p><a class="button-gray-light-outline button button-icon button-icon-left" routerLink="/contactUs"><span class="icon icon-md linear-icon-magic-wand"></span><span>Request Pricing</span></a>
                    <ul class="rating-list">
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../../assets/images/Kitchen Images/modern-design-of-a-large-gray-kitchen-2023-11-27-05-04-23-utc.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span class="sale">Sale</span></div>
                  </div>
                  <div class="product-caption">
                    <h6 class="product-title"><a href="single-product.html">Modern design of a large gray kitchen</a></h6>
                    <p class="product-price sale-price">
                      <!-- <span>45</span><span>56</span> -->
                    </p><a class="button-black button button-icon button-icon-left" routerLink="/contactUs"><span class="icon icon-md linear-icon-cart"></span><span>Request Pricing</span></a>
                    <ul class="rating-list">
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../../assets/images/Kitchen Images/modern-white-kitchen-2023-11-27-05-31-49-utc.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <h6 class="product-title"><a href="single-product.html">Modern white kitchen with draws</a></h6>
                    <p class="product-price">
                      <!-- <span>44</span> -->
                    </p><a class="button-black button button-icon button-icon-left" routerLink="/contactUs"><span class="icon icon-md linear-icon-cart"></span><span>Request Pricing</span></a>
                    <ul class="rating-list">
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../../assets/images/Kitchen Images/stylish-brown-panel-kitchen-interior-2023-11-27-05-21-00-utc.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    
                    <h6 class="product-title"><a href="single-product.html">Stylish brown panel kitchen interior</a></h6>
                    <p class="product-price">
                      <!-- <span>82</span> -->
                    </p><a class="button-gray-light-outline button button-icon button-icon-left" routerLink="/contactUs"><span class="icon icon-md linear-icon-magic-wand"></span><span>Request Pricing</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pagination-->
          
        </div>
        <div class="col-lg-3 section-divided__aside section__aside-left">
          <!-- Categories-->
          <section class="section-sm">
            <h5>Categories</h5>
            <ul class="small list">
              <li><a href="#" routerLink="/catalog/kitchen">Kitchen</a></li>
              <li><a href="#" routerLink="/catalog/office">Office</a></li>
              <li><a href="#" routerLink="/catalog/bedroom">Bedroom</a></li>
              <li><a href="#" routerLink="/catalog/livingRoom">Living Room</a></li>
              <li><a href="#" routerLink="/catalog/diningRoom">Dining Room</a></li>
            </ul>
          </section>

                  </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>