<app-header></app-header>
<!-- <section class="breadcrumbs-custom">
    <div class="container">
      <div class="breadcrumbs-custom__inner">
        <p class="breadcrumbs-custom__title">Contacts</p>
        <ul class="breadcrumbs-custom__path">
          <li><a href="index.html">Home</a></li>
          <li class="active">Contacts</li>
        </ul>
      </div>
    </div>
  </section> -->
  <section>
    <div class="container">
        <div class="row row-50">
            <div class="col-md-12 col-lg-12">
                <p style="margin-top: 20px ;">We are thrilled to extend an invitation for you to join our esteemed network of dealers as we take pride in partnering with individuals and businesses who share our passion for quality furniture and exceptional customer service.</p>

                <p>As a dealer with <b>United 1 Imports</b>, you'll have access to a diverse range of meticulously crafted furniture pieces that blend style, functionality, and durability. Our commitment to excellence ensures that each product meets the highest standards of design and craftsmanship.</p>
                
                <p>By becoming a dealer, you will enjoy several benefits, including competitive pricing, exclusive access to new collections, and comprehensive marketing support to help you showcase our products effectively. Our dedicated team is always ready to provide personalized assistance and ensure a seamless experience in every aspect of our partnership.</p>
                
                <p>We value collaboration and believe in fostering strong, long-term relationships. As a trusted partner, you'll play a crucial role in bringing our furniture to a wider audience, and together, we can create spaces that inspire and elevate the lives of our customers.</p>
                
                <p>us in the journey of transforming spaces and enriching lives through the art of furniture. If you share our vision and dedication to quality, we look forward to welcoming you to the <b>United 1 Imports</b> family.</p>
                
                <p>To initiate the process or for any inquiries, please fill the below mentioned fields and we will contact you soon.</p>
            </div>
        </div>
    </div>
    
  </section>
  <section class="section-md bg-default">
    <div class="container">
      <div class="row row-50">
        <div class="col-md-5 col-lg-4">
          <img src="../../../assets/images/dealerPage.jpg" />
        </div>
        <div class="col-md-7 col-lg-8">
          <h3>Get in Touch</h3>
          <!-- RD Mailform-->
          <form class="rd-mailform rd-mailform_style-1" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
            <div class="form-wrap">
              <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
              <label class="form-label" for="contact-name">Your name</label>
            </div>
            <div class="form-wrap">
              <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
              <label class="form-label" for="contact-email">Your e-mail</label>
            </div>
            <div class="form-wrap">
              <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Numeric">
              <label class="form-label" for="contact-phone">Your phone</label>
            </div>
            <div class="form-wrap">
              <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
              <label class="form-label" for="contact-message">Your message</label>
            </div>
            <button class="button button-primary" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>