<section class="pre-footer-corporate">
  <div class="container">
    <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
      <div class="col-sm-10 col-md-6 col-lg-10 col-xl-5">
        <h6>About</h6>
        <p>Welcome to our Wholesale Furniture Emporium, where luxury meets affordability! At United 1 Imports, we take pride in offering a diverse and curated selection of high-quality furniture to retailers and businesses across the globe.

          Established with a passion for delivering exquisite designs and unparalleled craftsmanship, we bring you a comprehensive range of wholesale furniture that caters to every style and preference. From timeless classics to cutting-edge contemporary pieces, our collection is meticulously curated to meet the varied needs of your clientele.</p>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
        <h6>Navigation</h6>
        <ul class="list-xxs">
          <li><a href="#" routerLink="/catalog" class="colorDesign">BEDROOM</a></li>
          <li><a href="#" routerLink="/catalog" class="colorDesign">DINING ROOM</a></li>
          <li><a href="#" routerLink="/catalog"  class="colorDesign">LIVING ROOM</a></li>
          <li><a href="#" routerLink="/catalog"  class="colorDesign">OFFICE</a></li>
        </ul>
      </div>

      <div class="col-sm-10 col-md-6 col-lg-4 col-xl-4">
        <h6>Contact US</h6>
        <ul class="list-xs">
          <li>
            <dl class="list-terms-minimal">
              <!-- <dt>Address</dt> -->
              <p>166 Woodstream Blvd </p><br/>
              <p> Woodbridge ON L4L 7Y2</p>
            </dl>
          </li>
          <li>
            <dl class="list-terms-minimal">
              <!-- <dt>Phones</dt> -->
              <dd>
                <ul class="list-semicolon">
                  <li><a href="callto:#">(416) 824-8511</a></li>
                </ul>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-minimal">
              <dd><a href="mailto:#">info@united1imports.com</a></dd>
            </dl>
          </li>
          <li>
            <!-- <dl class="list-terms-minimal">
              <dt>We are open</dt>
              <dd>Mn-Fr: 10 am-8 pm</dd>
            </dl> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="footer-corporate">
  <div class="container">
    <div class="footer-corporate__inner">
      <p class="rights"><span>United 1 Imports ©</span><span>&nbsp;</span><span class="copyright-year"></span>.</p>
      <!-- <ul class="list-inline-xxs">
        <li><a class="icon icon-xxs icon-gray-4 fa fa-facebook" href="#"></a></li>
        <li><a class="icon icon-xxs icon-gray-4 fa fa-twitter" href="#"></a></li>
        <li><a class="icon icon-xxs icon-gray-4 fa fa-google-plus" href="#"></a></li>
        <li><a class="icon icon-xxs icon-gray-4 fa fa-vimeo" href="#"></a></li>
        <li><a class="icon icon-xxs icon-gray-4 fa fa-youtube" href="#"></a></li>
        <li><a class="icon icon-xxs icon-gray-4 fa fa-pinter"></a></li>
      </ul> -->
    </div>
  </div>
</footer>