  <footer class="footer-corporate">
    <div class="container">
      <div class="footer-corporate__inner">
        <p class="rights"><span>United 1 Imports ©</span><span>&nbsp;</span><span class="copyright-year"></span>.</p>
        <ul class="list-inline-xxs">
          <li><a class="icon icon-xxs icon-gray-4 fa fa-facebook" href="#"></a></li>
          <li><a class="icon icon-xxs icon-gray-4 fa fa-twitter" href="#"></a></li>
          <li><a class="icon icon-xxs icon-gray-4 fa fa-google-plus" href="#"></a></li>
          <li><a class="icon icon-xxs icon-gray-4 fa fa-vimeo" href="#"></a></li>
          <li><a class="icon icon-xxs icon-gray-4 fa fa-youtube" href="#"></a></li>
          <li><a class="icon icon-xxs icon-gray-4 fa fa-pinter"></a></li>
        </ul>
      </div>
    </div>
  </footer>