<app-header></app-header>
  <section class="section-md bg-default">
    <div class="container">
      <div class="row row-60 flex-lg-row-reverse">
        <div class="col-lg-9 section-divided__main section-divided__main-left">
          <div class="section-sm">
            <div class="filter-shop-box">
              <p>Showing 1–12 of 15 results dining room component</p>
              <div class="form-wrap">
                <!--Select 2-->
                <select class="form-input select-filter" data-placeholder="Default sorting" data-minimum-results-for-search="Infinity">
                  <option>Default sorting</option>
                  <option value="2">Sort by popularity</option>
                  <option value="3">Sort by average rating</option>
                  <option value="4">Sort by newness</option>
                  <option value="5">Sort by price: low to high</option>
                  <option value="6">Sort by price: high to low</option>
                </select>
              </div>
            </div>
            <div class="row justify-content-sm-center row-70">
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../assets/images/garda-square-sideboard-for-living-and-dining-room-by-dallagnese-300x300.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span class="featured">Featured</span></div>
                  </div>
                  <div class="product-caption">
                    <ul class="product-categories">
                      <li><a routerLink="catalog/livingRoom">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                    <h6 class="product-title"><a href="single-product.html">Garda square sideboard for living room</a></h6>
                    <p class="product-price"><span>48</span>
                    </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                    <ul class="rating-list">
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../assets/images/emma-chairs-and-table-for-kitchen-300x300.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span class="new">New</span></div>
                  </div>
                  <div class="product-caption">
                    <ul class="product-categories">
                      <li><a href="#">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                    <h6 class="product-title"><a href="single-product.html">Italian emma chairs and table wooden for kitchen</a></h6>
                    <p class="product-price"><span>69</span>
                    </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../assets/images/italian-furniture-contemporary-allumen-fixed-or-extendable-glass-top-table-by-sedit-2-300x300.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span class="sale">Sale</span></div>
                  </div>
                  <div class="product-caption">
                    <ul class="product-categories">
                      <li><a href="#">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                    <h6 class="product-title"><a href="single-product.html">Italian furniture contemporary allumen GLASS TABLE</a></h6>
                    <p class="product-price sale-price"><span>45</span><span>56</span>
                    </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                    <ul class="rating-list">
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- 2 row-->
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../assets/images/italian-furniture-contemporary-mix-steel-base-wooden-table-top-dining-table-by-sedit-2-300x300.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <ul class="product-categories">
                      <li><a href="#">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                    <h6 class="product-title"><a href="single-product.html">Italian furniture contemporary mix steel base WOODEN SET</a></h6>
                    <p class="product-price"><span>87</span>
                    </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../assets/images/modern-small-cucciolo-2-seater-sofa-domingo-salotti-1-300x300.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <ul class="product-categories">
                      <li><a href="#">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                    <h6 class="product-title"><a href="single-product.html">Modern small cucciolo 2 seater sofa domingo salotti</a></h6>
                    <p class="product-price"><span>16</span>
                    </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../assets/images/my-italian-living-contemporary-manila-leather-blue-dining-chair-by-imperial-line-300x300.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <ul class="product-categories">
                      <li><a href="#">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                    <h6 class="product-title"><a href="single-product.html">My italian living contemporary manila leather BLUE CHAIR</a></h6>
                    <p class="product-price"><span>44</span>
                    </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                    <ul class="rating-list">
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- 3 row-->
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../assets/images/Porta-venezia-kitchen-bar-dining-stool-by-infiniti-design-300x300.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <ul class="product-categories">
                      <li><a href="#">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                    <h6 class="product-title"><a href="single-product.html">Porta venezia kitchen bar dining stool by infiniti design</a></h6>
                    <p class="product-price"><span>82</span>
                    </p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-magic-wand"></span><span>Select options</span></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../assets/images/santarossa_plastic_transparent_glossy_chair-1-300x300.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <ul class="product-categories">
                      <li><a href="#">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                    <h6 class="product-title"><a href="single-product.html">Santarossa plastic transparent glossy chair</a></h6>
                    <p class="product-price"><span>40</span>
                    </p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-magic-wand"></span><span>Select options</span></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="product product-grid">
                  <div class="product-img-wrap"><img src="../../../assets/images/slamp-lighting-italain-designer-floor-lamp-contemporary-design-1-300x300.jpg" alt="" width="300" height="300"/>
                    <div class="product-icon-wrap">
                        <button class="btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-heart"></i>
                        </button>
                     </div>
                    <div class="product-label-wrap"><span></span></div>
                  </div>
                  <div class="product-caption">
                    <ul class="product-categories">
                      <li><a href="#">Living Room</a></li>
                      <li><a href="#">Dining room</a></li>
                      <li><a href="#">Office</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                    <h6 class="product-title"><a href="single-product.html">Slamp italian floor lamp luxury italian lighting</a></h6>
                    <p class="product-price"><span>43</span>
                    </p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-magic-wand"></span><span>Select options</span></a>
                    <ul class="rating-list">
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                      <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pagination-->
          <section class="section-sm">
            <!-- Classic Pagination-->
            <nav>
              <ul class="pagination-classic">
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
              </ul>
            </nav>
          </section>
        </div>
        <div class="col-lg-3 section-divided__aside section__aside-left">
          <!-- Categories-->
          <section class="section-sm">
            <h5>Categories</h5>
            <ul class="small list">
              <li><a href="#" routerLink="/catalog/kitchen">Kitchen</a></li>
              <li><a href="#" routerLink="/catalog/office">Office</a></li>
              <li><a href="#" routerLink="/catalog/bedroom">Bedroom</a></li>
              <li><a href="#" routerLink="/catalog/livingRoom">Living Room</a></li>
              <li><a href="#" routerLink="/catalog/dinigRoom">Dining Room</a></li>
            </ul>
          </section>

          <!-- Filter color-->
          <section class="section-sm">
            <h5>Filter By Color</h5>
            <ul class="small list">
              <li><a href="#" routerLink="/catalog">Black (9)</a></li>
              <li><a href="#" routerLink="/catalog">Blue (3)</a></li>
              <li><a href="#" routerLink="/catalog">Brown (5)</a></li>
              <li><a href="#" routerLink="/catalog">Gray (7)</a></li>
              <li><a href="#" routerLink="/catalog">White (6)</a></li>
            </ul>
          </section>

          <!-- Range-->
          <section class="section-sm">
            <h5>Filter By Price</h5>
            <!--RD Range-->
            <div class="rd-range-wrap">
              <div class="rd-range-inner"><span>Price: </span><span class="rd-range-input-value-1"></span><span>—</span><span class="rd-range-input-value-2"></span></div>
              <div class="rd-range" data-min="10" data-max="500" data-start="[75, 244]" data-step="1" data-tooltip="true" data-min-diff="10" data-input=".rd-range-input-value-1" data-input-2=".rd-range-input-value-2"></div>
            </div><a class="button button-gray-light-outline" href="#">Filter</a>
          </section>

        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>