<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-default navbar-fixed-top">
  <div class="container">
  <a class="navbar-brand" style="font-family: math;" href="#"><h5><b>United 1 Imports</b></h5></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catalog
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Washroom</a>
          <a class="dropdown-item" href="#">Kitchen</a>
          <a class="dropdown-item" href="#">Bedroom</a>
          <a class="dropdown-item" href="#">Living Room</a>
          <a class="dropdown-item" href="#">Office</a>
          <a class="dropdown-item" href="#">Dining Room</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dealer">Become a Dealer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactUs">Contact Us</a>
      </li>
    
    </ul>
  </div>
</div>
</nav> -->
<div class="container">
<div class="row">
  <div class="col-md-12">
    
    <nav class="navbar">
      <div class="col-md-3">
        <div class="navbar-brand">
          <a class="navbar-brand" style="font-family: math;" href="#"><h5><b>United 1 Imports test </b></h5></a>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="navbar-nav1">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/about">About Us</a></li>
          <li class="nav-item with-submenu1">
            <a class="nav-link" href="/catalog" >Catalog<i class="fas fa-angle-down" style=" display: inline-block;
              width: 17px;
              line-height: 1;
              text-align: center;
              cursor: pointer;
              color: #888;"></i></a>
            <ul class="submenu1">
              <li><a routerLink="/catalog/washroom">Washroom test </a></li>
              <li><a routerLink="/catalog/kitchen">Kitchen test</a></li>
              <li><a routerLink="/catalog/bedroom">Bedroom</a></li>
              <li><a routerLink="/catalog/livingRoom">Living-Room</a></li>
              <li><a routerLink="/catalog/office">Office</a></li>
              <li><a routerLink="/catalog/diningRoom">Dining-Room</a></li>
              <!-- Add more submenu items as needed -->
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" routerLink="/dealer">Become a Dealer</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contactUs">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">

      </div>
    </nav>
  </div>
</div>

</div>