    <app-header></app-header>
    <div class="page">
      <div class="preloader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
     
      <section class="section-sm bg-default section-limit">
        <div class="row justify-content-sm-center row-50">
          <div class="col-md-4">
            <div class="banner-thumbnail banner-thumbnail-top"><a  routerLink="/catalog"><img src="../assets/images/banner-IMAGE-fotor-aleo-light.png" alt="" width="573" height="914"/></a></div>
          </div>
          <div class="col-md-4">
            <div class="banner-thumbnail banner-thumbnail-top"><a routerLink="/catalog"><img src="../assets/images/banner-2.png" alt="" width="573" height="432"/></a></div>
            <div class="banner-thumbnail banner-thumbnail-center"><a routerLink="/catalog"><img src="../assets/images/banner-3-wallclock.jpg" alt="" width="573" height="432"/></a></div>
          </div>
          <div class="col-md-4">
            <div class="banner-thumbnail banner-thumbnail-top"><a routerLink="/catalog"><img src="../assets/images/banner-4.jpg" alt="" width="573" height="914"/></a></div>
          </div>
        </div>
      </section>
      <section class="section-limit bg-gray-lighter bg-image bg-image-8">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-5 section-xl section-xl_bigger">
              <h3 class="wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="1.2s">Modern Office Furniture</h3>
              <p class="big wow fadeInUpSmall" data-wow-delay=".5s" data-wow-duration="1.2s">Contemporary Luxury Office Furniture - Redefining Luxury one step at a time</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section-lg bg-default text-center">
        <div class="container">
          <h4>Top Furniture Categories</h4>
          <div class="row row-60">
            <div class="col-md-6 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><a  routerLink="/catalog/livingRoom"><img src="../assets/images/categories-1-301x301.jpg" alt="" width="301" height="301"/>
                </a></div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a  routerLink="/catalog/livingRoom">Living Room</a></p>
                  <p class="thumb__subtitle">25 products</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><a  routerLink="/catalog/dinigRoom"><img src="../assets/images/categories-2-301x301.jpg" alt="" width="301" height="301"/>
                </a></div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a  routerLink="/catalog/dinigRoom">Dining room</a></p>
                  <p class="thumb__subtitle">25 products</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><a  routerLink="/catalog/bedroom"><img src="../assets/images/categories-3-301x301.jpg" alt="" width="301" height="301"/>
                </a></div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a  routerLink="/catalog/bedroom">Bedroom</a></p>
                  <p class="thumb__subtitle">25 products</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="product-img-wrap"><a  routerLink="/catalog/office"><img src="../assets/images/categories-4-301x301.jpg" alt="" width="301" height="301"/>
                </a></div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a  routerLink="/catalog/office">Office</a></p>
                  <p class="thumb__subtitle">25 products</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Divider-->

      <!-- Page Footer -->
      <app-footer></app-footer>
    </div>
    <!-- Global Mailform Output-->
    <!-- <div class="snackbars" id="form-output-global"></div> -->
    <!-- Javascript-->
   
