    <app-header></app-header>
    <div class="page">
      <div class="preloader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
     
      <section class="section-sm bg-default section-limit">
        <div class="row justify-content-sm-center row-50">
          <div class="col-md-4">
            <div class="banner-thumbnail banner-thumbnail-top"><a href="catalog-grid.html"><img src="../assets/images/banner-1-573x914.jpg" alt="" width="573" height="914"/></a></div>
          </div>
          <div class="col-md-4">
            <div class="banner-thumbnail banner-thumbnail-top"><a href="catalog-grid.html"><img src="../assets/images/banner-2-573x432.jpg" alt="" width="573" height="432"/></a></div>
            <div class="banner-thumbnail banner-thumbnail-center"><a href="catalog-grid.html"><img src="../assets/images/banner-3-573x432.jpg" alt="" width="573" height="432"/></a></div>
          </div>
          <div class="col-md-4">
            <div class="banner-thumbnail banner-thumbnail-top"><a href="catalog-grid.html"><img src="../assets/images/banner-4-573x914.jpg" alt="" width="573" height="914"/></a></div>
          </div>
        </div>
      </section>
      <section class="section-limit bg-gray-lighter bg-image bg-image-8">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-5 section-xl section-xl_bigger">
              <h3 class="wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="1.2s">Get our Catalogue</h3>
              <p class="big wow fadeInUpSmall" data-wow-delay=".5s" data-wow-duration="1.2s">Receive free monthly catalogue showcasing the best in modern furniture design!</p><a class="banner-link wow fadeInUpSmall" href="catalog-grid.html" data-wow-delay=".7s" data-wow-duration="1.2s">Shop now!</a>
            </div>
          </div>
        </div>
      </section>
      <section class="section-lg bg-default text-center">
        <div class="container">
          <h4>Top Furniture Categories</h4>
          <div class="row row-60">
            <div class="col-md-6 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="../assets/images/categories-1-301x301.jpg" alt="" width="301" height="301"/>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="catalog-grid.html">Living Room</a></p>
                  <p class="thumb__subtitle">25 products</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="../assets/images/categories-2-301x301.jpg" alt="" width="301" height="301"/>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="catalog-grid.html">Dining room</a></p>
                  <p class="thumb__subtitle">25 products</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="../assets/images/categories-3-301x301.jpg" alt="" width="301" height="301"/>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="catalog-grid.html">Bedroom</a></p>
                  <p class="thumb__subtitle">25 products</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="../assets/images/categories-4-301x301.jpg" alt="" width="301" height="301"/>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="catalog-grid.html">Office</a></p>
                  <p class="thumb__subtitle">25 products</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Divider-->
      <div class="container">
        <div class="divider"></div>
      </div>
      <!-- Divider-->
      <div class="container">
        <div class="divider"></div>
      </div>

      <section class="section-lg bg-default">
        <div class="container text-center">
          <h4>Most Popular Items</h4>
          <!-- Owl Carousel-->
          <div class="owl-carousel carousel-product" data-autoplay="true" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-stage-padding="0" data-loop="false" data-margin="50" data-mouse-drag="false" data-nav="true">
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../assets/images/santarossa_plastic_transparent_glossy_chair-1-300x300.jpg" alt="" width="300" height="300"/>
                  <div class="product-icon-wrap"><span class="icon icon-md linear-icon-heart" data-toggle="tooltip" data-original-title="Add to Wishlist"></span><span class="icon icon-md linear-icon-balance" data-toggle="tooltip" data-original-title="Add to Compare"></span></div>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Living Room</a></li>
                    <li><a href="#">Dining room</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bedroom</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Santarossa plastic transparent glossy chair</a></h6>
                  <p class="product-price"><span>40</span>
                  </p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-magic-wand icon-gray"></span><span>Select options</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../assets/images/slamp-lighting-italain-designer-floor-lamp-contemporary-design-1-300x300.jpg" alt="" width="300" height="300"/>
                  <div class="product-icon-wrap"><span class="icon icon-md linear-icon-heart" data-toggle="tooltip" data-original-title="Add to Wishlist"></span><span class="icon icon-md linear-icon-balance" data-toggle="tooltip" data-original-title="Add to Compare"></span></div>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Living Room</a></li>
                    <li><a href="#">Dining room</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bedroom</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Slamp italian floor lamp luxury italian lighting</a></h6>
                  <p class="product-price"><span>43</span>
                  </p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-magic-wand icon-gray"></span><span>Select options</span></a>
                  <ul class="rating-list">
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../assets/images/garda-square-sideboard-for-living-and-dining-room-by-dallagnese-300x300.jpg" alt="" width="300" height="300"/>
                  <div class="product-icon-wrap"><span class="icon icon-md linear-icon-heart" data-toggle="tooltip" data-original-title="Add to Wishlist"></span><span class="icon icon-md linear-icon-balance" data-toggle="tooltip" data-original-title="Add to Compare"></span></div>
                  <div class="product-label-wrap"><span class="featured">Featured</span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Living Room</a></li>
                    <li><a href="#">Dining room</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bedroom</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Garda square sideboard for living room</a></h6>
                  <p class="product-price"><span>48</span>
                  </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                  <ul class="rating-list">
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../assets/images/emma-chairs-and-table-for-kitchen-300x300.jpg" alt="" width="300" height="300"/>
                  <div class="product-icon-wrap"><span class="icon icon-md linear-icon-heart" data-toggle="tooltip" data-original-title="Add to Wishlist"></span><span class="icon icon-md linear-icon-balance" data-toggle="tooltip" data-original-title="Add to Compare"></span></div>
                  <div class="product-label-wrap"><span class="new">New</span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Living Room</a></li>
                    <li><a href="#">Dining room</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bedroom</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Italian emma chairs and table wooden for kitchen</a></h6>
                  <p class="product-price"><span>69</span>
                  </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../assets/images/italian-furniture-contemporary-mix-steel-base-wooden-table-top-dining-table-by-sedit-2-300x300.jpg" alt="" width="300" height="300"/>
                  <div class="product-icon-wrap"><span class="icon icon-md linear-icon-heart" data-toggle="tooltip" data-original-title="Add to Wishlist"></span><span class="icon icon-md linear-icon-balance" data-toggle="tooltip" data-original-title="Add to Compare"></span></div>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Living Room</a></li>
                    <li><a href="#">Dining room</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bedroom</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Italian furniture contemporary mix steel base WOODEN SET</a></h6>
                  <p class="product-price"><span>87</span>
                  </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../assets/images/modern-small-cucciolo-2-seater-sofa-domingo-salotti-1-300x300.jpg" alt="" width="300" height="300"/>
                  <div class="product-icon-wrap"><span class="icon icon-md linear-icon-heart" data-toggle="tooltip" data-original-title="Add to Wishlist"></span><span class="icon icon-md linear-icon-balance" data-toggle="tooltip" data-original-title="Add to Compare"></span></div>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Living Room</a></li>
                    <li><a href="#">Dining room</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bedroom</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Modern small cucciolo 2 seater sofa domingo salotti</a></h6>
                  <p class="product-price"><span>16</span>
                  </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../assets/images/my-italian-living-contemporary-manila-leather-blue-dining-chair-by-imperial-line-300x300.jpg" alt="" width="300" height="300"/>
                  <div class="product-icon-wrap"><span class="icon icon-md linear-icon-heart" data-toggle="tooltip" data-original-title="Add to Wishlist"></span><span class="icon icon-md linear-icon-balance" data-toggle="tooltip" data-original-title="Add to Compare"></span></div>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Living Room</a></li>
                    <li><a href="#">Dining room</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bedroom</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">My italian living contemporary manila leather BLUE CHAIR</a></h6>
                  <p class="product-price"><span>44</span>
                  </p><a class="button-black button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                  <ul class="rating-list">
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon linear-icon-star icon-gray-4"></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../assets/images/Porta-venezia-kitchen-bar-dining-stool-by-infiniti-design-300x300.jpg" alt="" width="300" height="300"/>
                  <div class="product-icon-wrap"><span class="icon icon-md linear-icon-heart" data-toggle="tooltip" data-original-title="Add to Wishlist"></span><span class="icon icon-md linear-icon-balance" data-toggle="tooltip" data-original-title="Add to Compare"></span></div>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Living Room</a></li>
                    <li><a href="#">Dining room</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Bedroom</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Porta venezia kitchen bar dining stool by infiniti design</a></h6>
                  <p class="product-price"><span>82</span>
                  </p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon icon-md linear-icon-magic-wand icon-gray"></span><span>Select options</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-limit">
        <div class="row justify-content-md-center row-50">
          <div class="col-md-6 col-lg-4">
            <div class="banner-thumbnail banner-thumbnail-top bg-accent"><a href="catalog-grid.html"><img src="../assets/images/banner-5-573x432.jpg" alt="" width="573" height="432"/></a>
              <div class="caption">
                <p>Living Room</p>
                <h5 class="banner-title"><a href="catalog-grid.html">Up to 30% off!            </a></h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="banner-thumbnail banner-thumbnail-center text-center bg-accent"><a href="catalog-grid.html"><img src="../assets/images/banner-6-573x432.jpg" alt="" width="573" height="432"/></a>
              <div class="caption">
                <h4 class="banner-title"><a href="catalog-grid.html">Save 49%</a></h4>
                <p>when buying kitchen tables!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="banner-thumbnail banner-thumbnail-top"><a href="catalog-grid.html"><img src="../assets/images/banner-7-573x432.jpg" alt="" width="573" height="432"/></a>
              <div class="caption">
                <p>See our best bar furniture</p>
                <h5 class="banner-title"><a href="catalog-grid.html">UP TO 70% OFF</a></h5>
              </div>
            </div>
          </div>
        </div>
      </section>
 
      <!-- Divider-->
      <div class="container">
        <div class="divider"></div>
      </div>

      <section class="section-lg bg-default text-center">
        <div class="container">
          <h4>Here We Post Furniture Tips,<br> Purchasing Guides and Special Offers!</h4>
          <div class="row row-60 justify-content-md-center">
            <div class="col-md-6 col-lg-4">
              <!-- Post classic-->
              <article class="post-classic post-minimal text-center"><img src="../assets/images/post-index-1-418x315.jpg" alt="" width="418" height="315"/>
                <div class="post-classic-title">
                  <h6><a href="image-post.html">FURNITURE STYLES PROFILE: ART DECO</a></h6>
                </div>
                <!-- <div class="post-meta">
                  <div class="group"><a href="image-post.html">
                      <time datetime="2017">Jan.20, 2016</time></a><a class="meta-author" href="image-post.html">by Brian Williamson</a></div>
                </div> -->
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Post classic-->
              <article class="post-classic post-minimal text-center"><img src="../assets/images/post-index-2-418x315.jpg" alt="" width="418" height="315"/>
                <div class="post-classic-title">
                  <h6><a href="image-post.html">HOW LAIDBACK AN OFFICE CHAIR SHOULD BE?</a></h6>
                </div>
                <!-- <div class="post-meta">
                  <div class="group"><a href="image-post.html">
                      <time datetime="2017">Jan.20, 2016</time></a><a class="meta-author" href="image-post.html">by Brian Williamson</a></div>
                </div> -->
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Post classic-->
              <article class="post-classic post-minimal text-center"><img src="../assets/images/post-index-3-418x315.jpg" alt="" width="418" height="315"/>
                <div class="post-classic-title">
                  <h6><a href="image-post.html">THE INTERSECTION OF LEFTOVERS AND HAND-CRAFTED FURNITURE</a></h6>
                </div>
                <!-- <div class="post-meta">
                  <div class="group"><a href="image-post.html">
                      <time datetime="2017">Jan.20, 2016</time></a><a class="meta-author" href="image-post.html">by Brian Williamson</a></div>
                </div> -->
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Divider-->
      <div class="container">
        <div class="divider"></div>
      </div>

      <!-- Page Footer -->
      <app-footer></app-footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
   
